/* PHASE 1: Header */
body {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #eee;
}

.header {
	position: relative;
	background-color: red;
	z-index: 1;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	background-color: red;
	margin: 0 auto;
    width: 900px;
    border-left: 1px solid #ccc;
}

.header-logo {
	font-weight: bold;

}

.header-list {
	display: flex;
	
}

.header a {
	display: block;
	padding: 10px 20px;
	color: white;	
	border-right: 1px solid #ccc;
}


li:first-child {
	border-left: 1px solid #ccc;
}

.header a:hover {
	background-color: black;
}

