/* PHASE 2: Notifications */

.badge {
    border-radius: 50%;
    background-color: black;
    padding: 1px 6px;
    font-size: 14px;
}



.header-notification {
    position: relative;
}

.header-notification:hover .badge{
    background-color: red;
}

.header-notification ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
}

.header-notification ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
}

.header-notification ul li:hover {
    background-color: #eee;
}


.header-notification ul li:last-child{
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}



.header-notification:hover ul{
    display: block;
}